# Backend Server Configuration
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/gym_db
JWT_SECRET=apexfit_jwt_secret_key_2026_super_secure!
JWT_EXPIRE=30d

# Razorpay / Stripe Sandbox Keys (Simulated Payment Gateway)
RAZORPAY_KEY_ID=rzp_test_ApexFit2026Key
RAZORPAY_KEY_SECRET=apexfit_secret_razorpay_2026
STRIPE_PUBLISHABLE_KEY=pk_test_ApexFit2026Stripe
STRIPE_SECRET_KEY=sk_test_ApexFit2026StripeSecret

# Client URL
CLIENT_URL=http://localhost:5173
