PORT=3000
NODE_ENV=development
POSTGRES_URI=your_postgresql_connection_string
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=rakshu123
PGDATABASE=gym_db
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
CLIENT_URL=http://localhost:5173
