PORT=3000
NODE_ENV=development
POSTGRES_URI=postgres://postgres:rakshu123@localhost:5432/gym_db
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=rakshu123
PGDATABASE=gym_db
JWT_SECRET=apexfit_jwt_secret_key_2026_super_secure!
JWT_EXPIRE=30d
RAZORPAY_KEY_ID=rzp_test_ApexFit2026Key
RAZORPAY_KEY_SECRET=apexfit_secret_razorpay_2026
STRIPE_PUBLISHABLE_KEY=pk_test_ApexFit2026Stripe
CLIENT_URL=http://localhost:5173
